/**************************************************** custom default */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
  list-style: none;
  color: #1c2841;
}

body {
  text-align: center;
  cursor: default;
  background-color: #fff5ee;
}
/**************************************************** BOTH modals */

#startModalBg,
#restartModalBg {
  background-color: rgba(0, 0, 0, 0.527);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: grid;
  position: fixed;
  top: 0;
  z-index: 1;
}

.modal-info {
  background-image: linear-gradient(to right, #fcffa4, #ffffe0);
  border: 0.2rem solid #f0e68c;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.modal-info p {
  font-size: 3rem;
  margin: 1rem 0;
}

.modal-info button {
  font-size: 2em;
  cursor: pointer;
  outline: none;
  width: 9rem;
  height: 3.5rem;
  background-color: #f8de7e;
  border: none;
  border-radius: 2rem;
}

.modal-info button:hover {
  background-color: #fdee00;
  transition: 0.2s;
  font-weight: 900;
}

@media (min-width: 600px) {
  .modal-info {
    padding: 2rem 5rem;
  }

  .modal-info p {
    font-size: 3.5rem;
  }

  .modal-info button {
    font-size: 2.5em;
    width: 10rem;
    height: 4rem;
  }
}

/**************************************************** restart modal */

#restartModalBg {
  display: none;
}

/**************************************************** quiz border */
.quiz-border {
  background-image: linear-gradient(to right, #fcffa4, #ffffe0);
  border-radius: 1rem;
  border: solid 0.5rem #f0e68c;
  margin: 4.38rem 0.5rem 0;
}

@media (min-width: 600px) {
  .quiz-border {
    margin: 7.64rem auto;
    padding: 1rem 0.5rem;
    height: 31rem;
    width: 36rem;
  }
}

/**************************************************** title */
.title h1 {
  font-size: 3rem;
  color: #a3a300;
}

@media (min-width: 600px) {
  .title h1 {
    font-size: 4rem;
  }
}

/**************************************************** timer */
.timer-box p {
  background-color: #f8de7e;
  width: 7rem;
  height: 4rem;
  padding: 0.5rem 0.3rem;
  border-radius: 0.5rem;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 900;
  display: grid;
  align-items: center;
}

@media (min-width: 600px) {
  .timer-box p {
    width: 9rem;
    height: 5rem;
    font-size: 1.7rem;
  }
}

/**************************************************** response header */
@media (min-width: 600px) {
  .response-header {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
  }
}

/**************************************************** questions */
.question {
  margin: 1rem 0.5rem;
}

.question h2 {
  font-size: 2rem;
}

@media (min-width: 600px) {
  .question h2 {
    font-size: 2.5rem;
  }
}

/**************************************************** options */
.options-bg {
  margin: 0 0.5rem;
}

.options-bg li {
  background-color: #ffffe0;
  border: 0.1rem solid #fada5e;
  border-radius: 2rem;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.options-bg li:hover {
  background-color: #fada5e;
  border: 0.1rem solid #ffffe0;
  font-weight: 900;
  transition: 0.2s;
}

#correct {
  background-color: #00ff00;
}

#wrong {
  background-color: #ff0800;
}

@media (min-width: 600px) {
  .options-bg ol {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1rem;
    justify-content: space-around;
    justify-items: stretch;
  }

  .options-bg li {
    border-width: 0.2rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .options-bg li:hover {
    border-width: 0.2rem;
  }
}

/**************************************************** score */
.score p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 900;
}

@media (min-width: 600px) {
  .score p {
    font-size: 2rem;
  }
}

/**************************************************** next btn */
.next-btn-section {
  margin: 0.5rem 0 1rem;
}

.next-btn-section button {
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  width: 4.5rem;
  height: 3rem;
  background-color: #f8de7e;
  border: none;
  border-radius: 2rem;
}

.next-btn-section button:hover {
  background-color: #fdee00;
  transition: 0.2s;
  font-weight: 900;
}

@media (min-width: 600px) {
  .next-btn-section button {
    font-size: 2rem;
    width: 6.5rem;
    height: 3.5rem;
  }
}

/**************************************************** response footer */
@media (min-width: 600px) {
  .responsive-footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 6rem;
    align-items: stretch;
    justify-content: center;
    justify-items: center;
  }
}
