/**************************************************** custom default */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
  list-style: none;
}

body {
  text-align: center;
  cursor: default;
  background-color: #fff5ee;
}

/**************************************************** quiz border */
.quiz-border {
  background-image: linear-gradient(to right, #fcffa4, #ffffe0);
  border-radius: 1rem;
  border: solid 0.5rem #f0e68c;
  margin: 5.67rem 0.5rem;
}

/**************************************************** title */
.title h1 {
  font-size: 3rem;
  color: #a3a300;
}

/**************************************************** timer */
.timer-box {
}

/**************************************************** questions */
.question h2 {
  font-size: 2rem;
  color: #1c2841;
  margin-top: 2rem;
}

/**************************************************** options */
.options {
  display: grid;
  grid-template-columns: auto;
  margin-top: 3rem;
}

.options li {
  font-size: 2rem;
  background-color: #66cdaa;
  margin-bottom: 0.5rem;
  border: 0.1rem solid #1a1110;
  cursor: pointer;
}
