/**************************************************** custom default */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
  list-style: none;
  color: #1c2841;
}

body {
  text-align: center;
  cursor: default;
  background-color: #fff5ee;
}

/**************************************************** quiz border */
.quiz-border {
  background-image: linear-gradient(to right, #fcffa4, #ffffe0);
  border-radius: 1rem;
  border: solid 0.5rem #f0e68c;
  margin: 4.38rem 0.5rem;
}

/**************************************************** title */
.title h1 {
  font-size: 3rem;
  color: #a3a300;
}

/**************************************************** timer */
.timer-box {
  background-color: #f8de7e;
  width: 7rem;
  height: 3rem;
  padding: 0.5rem 0.3rem;
  border-radius: 0.5rem;
  margin: auto;
  display: grid;
  align-items: center;
}

.timer-box p {
  font-size: 1.2rem;
  font-weight: 900;
}

/**************************************************** questions */
.question {
  margin: 1rem 0.5rem;
}

.question h2 {
  font-size: 2rem;
}

/**************************************************** options */
.options {
  margin: 0 0.5rem;
}

.options li {
  background-color: #ffffe0;
  border: 0.1rem solid #fada5e;
  border-radius: 2rem;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.options li:hover {
  background-color: #fada5e;
  border: 0.1rem solid #ffffe0;
  font-weight: 900;
  transition: 0.2s;
}

/**************************************************** remaining questions */
.question-num {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.question-num span {
  font-weight: 900;
}

/**************************************************** next btn */
.next-btn-section {
  margin: 0.5rem 0 1rem;
}

.next-btn-section button {
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  width: 4.5rem;
  height: 3rem;
  background-color: #f8de7e;
  border: none;
  border-radius: 2rem;
}

.next-btn-section button:hover {
  background-color: #fdee00;
  transition: 0.2s;
  font-weight: 900;
}
